@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
:root {
    font-family: 'Oxygen', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
*{
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}
body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #2d19e2b2;
  }
  
main{
    margin-left: 5rem;
    padding: 1rem;

}
.icon{
    width: 3.2rem;
    height: 3.2rem;
}
.navbar{
    position: fixed;
    width: 5rem;
    height: 100vh;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: start;
}
.nav-item{
    width: 100%;
}
.nav-item:last-child{
    margin-top: auto;
}
.nav-link{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: var(--text-primary);
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
.link-text {
    display: none;
    margin-left: 1rem;
}
.navbar:hover .nav-link:last-child{
    margin: 0 auto;
}

.logo{
    width: 100%;
    background-color: var(--bg-secondary);
}
.logo-text{
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
}
.logo-icon{
    font-size: 3.2rem;
    margin-left: .5rem;
    transform: rotate(-180deg);
    transition: transform var(--transition-speed);
}
.navbar:hover .logo-icon{
    transform:  rotate(0);
}

@media all and (max-width:600px) {
    main{
        margin-left: 0;
        margin-bottom: 5rem;
    }
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo{
        display: none;
    }
    .navbar-nav{
        width: 100%;
        flex-direction: row;
    }
    .nav-link{
        justify-content: space-evenly;
    }
}
@media all and (min-width:600px) {
    .navbar:hover{
        width: 13rem;
    }
    .navbar:hover .link-text {
        display: inline;
    }
}